@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;

}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #ee4d2d;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #050506;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #30b566;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #f05da6;
    --bs-highlight-bg: #fff3cd;
    --nc-primary: #ee4d2d;
    --nc-primary-bg: #fef6f5;
    --nc-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
    --nc-secondary-blue: #0046ab;
    --nc-secondary-yellow: #eda500;
    --nc-secondary-green: #26aa99;
    --nc-error: #ee2c4a;
    --nc-error-bg: #fff4f4;
    --nc-caution: #f69113;
    --nc-caution-bg: #fff8e4;
    --nc-success: #30b566;
    --nc-success-bg: #f7fffe;
}

.body-container {
    max-width: 1280px;
    display: flex;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;


    /* bc-menu */
    .bc-menu {
        width: 20%;

        & ul li:first-child a {
            border-top: 3px solid var(--bs-danger);
        }

        & ul li a:hover {
            background: var(--nc-primary-bg);
            color: var(--nc-primary);
            transition: background 0.3s ease, color 0.3s ease, border-bottom 0.3s ease, transform 0.3s ease;
            transform: scale(1.05);
            position: relative;
        }

        & ul li a:hover::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background: var(--bs-gray-700);
            animation: slideIn 0.3s ease;
        }

        @keyframes slideIn {
            from {
                width: 0%;
            }

            to {
                width: 100%;
            }
        }

        .bc-menu-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & i {
                font-size: 25px;
                margin-right: 10px;
                margin-left: 30px;
            }

            & h5 {
                font-weight: 600;
                margin-top: 5px;

            }
        }

        & ul li a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #333;
            font-size: 1rem;
            font-weight: 400;

        }

        .bc-menu-category {
            display: flex;
            justify-content: start;
            align-items: center;

            & i {
                font-size: 20px;
                margin-right: 10px;
                margin-left: 30px;
            }

            & h5 {
                font-weight: 600;
                margin-top: 5px;
            }
        }

        & ul li {
            list-style: none;

            & a {
                display: flex;
                text-decoration: none;
                padding: 10px 20px;
                border: 1px solid #e5e5e5;
                color: #333;
                font-size: 1rem;
                font-weight: 400;
                cursor: pointer;
                transition: .3s ease;
            }

        }

        .bc-menu-logout {
            display: flex;
            justify-content: start;
            align-items: center;

            & i {
                font-size: 20px;
                margin-right: 10px;
                margin-left: 30px;
            }

            & h5 {
                font-weight: 600;
                margin-top: 5px;
            }
        }
    }

    /* bc-show */
    .bc-show {
        position: relative;
        width: 80%;
        /* height: 100%; */
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto-fill, 380px);
        grid-gap: 15px;

        .product-not-found {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            margin: 100px 300px;
            /* margin: 0 auto; */
            /* width: 800px; */
            /* height: 600px; */

            & p {
                margin: 0 auto;
            }
        }

        .bc-show-items-img {
            width: 100%;
            height: 280px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 10px;
            }
        }

        .bc-show-items {
            text-decoration: none;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            transition: .3s ease;
            background-color: #fff;

            & p {
                color: #333;
                overflow: hidden;
                height: 25px;
                /* line-height: 18px; */
                /* margin: 10px 0; */
                padding: 0 10px;
                font-size: 1rem;
                /* background-color: #0a58ca; */
            }

            /* 
            .bc-show-items-detail {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 10px;

                & span {
                    font-size: 13px;
                    font-weight: 300;
                    color: var(--bs-gray-900);
                }

                & b {
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--bs-gray-700);
                }
            } */
            .bc-show-items-view {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                margin-top: -5px;

                .bc-show-items-view-product {
                    background-color: #fff7de;
                    border: 1px solid var(--bs-warning);
                    border-radius: 5px;
                    font-size: 3px;
                    font-weight: 300;

                    & b {
                        font-size: 12px;
                        color: #333;
                        /* line-height: 1; */
                        padding: 5px;
                        font-weight: 400;
                    }

                    & i {
                        font-weight: 500;
                        font-size: 12px;
                        color: #eaaf00;
                        margin-right: 3px;

                    }
                }

                .bc-show-items-detail {
                    & span {
                        font-size: 12px;
                        font-weight: 300;
                        color: #000;
                        /* margin-left: px; */
                    }

                    /* & b {
                        font-size: 13px;
                        font-weight: 500;
                        color: var(--bs-gray-700);
                    } */
                }
            }

            .bc-show-items-price {
                position: relative;
                display: flex;
                /* background-color: #0a58ca; */
                padding: 0 10px;


                & h5 {
                    color: var(--bs-danger);
                    font-size: 1rem;
                    text-align: end;
                    margin-right: 25px;
                }

                .bc-show-item-discount {
                    position: absolute;
                    /* top: -25px; */
                    left: 80px;
                    bottom: 7px;
                    padding: 1px 5px;
                    border-radius: 2px;
                    background-color: #fcd1d5;


                    & span {
                        /* text-decoration: line-through; */
                        color: var(--bs-danger);
                        font-size: 10px;
                    }
                }
            }

        }

        .bc-show-items:hover {
            border: 1px solid var(--bs-orange);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            /* เพิ่ม box-shadow ที่นี่ */
        }


        .pagination {
            position: absolute;
            left: 10px;
            bottom: -25px;
        }

    }
}

/* slideshow-container */

.slideshow-container {
    /* width: 100%; */
    max-width: 1200px;
    height: 600px;
    margin: auto auto 20px auto;
    position: relative;

    .mySlides {
        width: 100%;
        height: 600px;

        & img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        width: auto;
        margin-top: -22px;
        /* padding: 2px; */
        color: var(--bs-gray-100);
        font-weight: bold;
        font-size: 40px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .next {
        right: 0px;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        opacity: 0.4;
    }
}

/* Darken the carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0%);
}

/* Hover effect to make icons fully visible on hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    filter: brightness(100%);
}

.carousel-item {
    height: 300px;
    object-fit: contain;
}

@media (max-width: 948px) {
    .body-container {
        .bc-menu {
            display: none;
        }

        .bc-show {
            width: 100%;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(auto-fill, 380px);
            grid-gap: 15px;

            .product-not-found {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                margin: 100px 300px;

                & p {
                    margin: 0 auto;
                }
            }

            .bc-show-items-img {
                width: 100%;
                height: 280px;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    padding: 10px;
                }
            }
        }
    }
}