@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #f05da6;
    --bs-highlight-bg: #fff3cd;
}

body {
    background-color: #f8f9fa;
}

/* Container */
/* .container2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
} */

.container-form {
    display: flex;
    flex-direction: column;
}

.category-box {
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: var(--bs-gray-200);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    position: relative;
    display: grid;
    grid-template-columns: 18% 80%;
    /* กำหนดความกว้างของแต่ละคอลัมน์เป็น 30% และ 70% */
    gap: 5px;

    .cate1 {
        width: 100%;
        height: 110px;
        margin: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cate2 {
        width: 100%;
        height: 110px;
        margin: 10px;
        /* padding: 0 0 0 20px; */
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        .cate2-tagname {
            position: absolute;
            top: 0px;
            background-color: var(--bs-gray-200);
            width: 100%;
            height: 20px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;

            & b {
                margin-top: -10px;
            }
        }

        .cate2-typepd {
            margin-top: 15px;
        }

        & img {
            width: 51px;
            height: 51px;
            margin-bottom: 3px;
        }

        & img:hover {
            opacity: 0.7;
        }

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;

            & li {
                list-style: none;
                padding: 5px;

                & a {
                    text-decoration: none;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: var(--bs-black);
                    font-size: 14px;
                }

                & a:hover {
                    color: var(--bs-gray-700);
                }
            }
        }

        .edit-profile-index {
            flex-grow: 1;
            margin-left: 20px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: grid;
            gap: 20px;
        }
    }

}

.category {
    background-color: var(--bs-gray-200);

}

.product-box-search {
    background-color: var(--bs-gray-200);
    width: 100%;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    position: relative;

    .product-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 230px;
        height: 450px;
        background-color: #fff;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        position: relative;

        & img {
            width: 170px;
            height: 250px;
            object-fit: cover;
        }

        .card-view-product {
            position: absolute;
            bottom: 5px;
            left: 5px;

            & span {
                font-size: 13px;
                color: var(--bs-gray-600);
            }
        }

        .card-sold {
            position: absolute;
            bottom: 5px;
            right: 5px;

            & span {
                font-size: 13px;
                color: var(--bs-gray-600);
            }

        }
    }

    .back {
        position: absolute;
        left: 15px;
        bottom: 15px;
    }

    .productname {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 30px;
        background-color: var(--bs-gray-100);
        color: #000;
        margin-bottom: 4px;
        border-radius: 2px;
    }

    .card-price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-button {
        margin-bottom: -25px;
    }

}

.product-not-found {
    width: 200px;
    height: 200px;

    & p {
        text-align: center;
    }
}

.product-box-index {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--bs-gray-200);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    position: relative;

    .product-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 230px;
        height: 450px;
        background-color: #fff;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        position: relative;

        & img {
            width: 170px;
            height: 250px;
            object-fit: cover;
        }

        .card-view-product {
            position: absolute;
            bottom: 5px;
            left: 5px;

            & span {
                font-size: 13px;
                color: var(--bs-gray-600);
            }
        }

        .card-sold {
            position: absolute;
            bottom: 5px;
            right: 5px;

            & span {
                font-size: 13px;
                color: var(--bs-gray-600);
            }

        }
    }
    .product-card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .back {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    .productname {
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 30px;
        background-color: var(--bs-gray-100);
        color: #000;
        margin-bottom: 4px;
        border-radius: 2px; */
        font-weight: 500;
    }

    .card-price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-button {
        margin-bottom: 25px;
    }
}


/* edit profile */

/* .edit-profile {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px;
} */

.btn:hover {
    opacity: 0.6;
    transition: .2s;
}






/* show_pd_detail */
.show-dt-box {
    /* padding: 20px; */
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
    padding-bottom: 20px;
    position: relative;

    & .show-dt-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        & img {
            width: 250px;
            height: 350px;
            object-fit: cover;
        }
    }

    & .show-dt-product {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .productname {
            width: 100%;
            height: 50px;
            font-size: 25px;
            padding-top: 20px;
            margin-bottom: 15px;
            color: #343a40;
        }

        .detail_pd {
            width: 100%;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 10px;

            .detail_name {
                width: 100%;
                height: 50px;
                font-size: 20px;
                color: #343a40;
            }

            .detailss {
                font-size: 18px;
                margin-top: -15px;
                margin-bottom: 20px;
                color: #343a40;
                & p {
                    text-indent: 1rem;
                }
            }
        }

        & .card-price {
            width: 100%;
            height: auto;
            font-size: 18px;
            color: #343a40;
        }

        & .card-button {
            width: 100%;
            margin-top: 20px;
            display: flex;

            & a {
                margin: 5px;
            }
        }
    }

    .card-view-product {
        position: absolute;
        right: 150px;
        bottom: -40px;
    }
    .card-sold {
        position: absolute;
        right: 10px;
        bottom: -40px;
    }
}
.show-dt-box:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

.divider {
    border-right: 1px solid #ccc; /* เส้นขั้นด้านบน */
    height: 100%;
}





/* slideshow-container */

.slideshow-container {
    width: 100%;
    height: 600px;
    margin: 120px auto auto auto;
    position: relative;

    .mySlides {
        width: 100%;
        height: 600px;

        & img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        width: auto;
        margin-top: -22px;
        /* padding: 2px; */
        color: var(--bs-gray-100);
        font-weight: bold;
        font-size: 40px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .next {
        right: 0px;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        opacity: 0.8;
    }
}

/* Darken the carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0%);
}

/* Hover effect to make icons fully visible on hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    filter: brightness(100%);
}

.carousel-item {
    height: 300px;
    object-fit: contain;
}

.pagination {
    /* text-align: center; */
    margin: 20px 0 0 20px;
}

.pagination a {
    /* display: inline-block; */
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 4px;
    border: 1px solid #535353;
    background-color: var(--bs-gray-100);
    border-radius: 4px;
    font-weight: 500;
    /* box-shadow: 0 0 1px black; */
}

.pagination a:hover {
    /* background-color: #36a06f; */
    opacity: 0.6;
    color: #000;
    transition: 0.3s;
}


