@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #00c300;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #f05da6;
    --bs-highlight-bg: #fff3cd;
    --nc-primary: #ee4d2d;
    --nc-primary-bg: #fef6f5;
    --nc-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
    --nc-secondary-blue: #0046ab;
    --nc-secondary-yellow: #eda500;
    --nc-secondary-green: #26aa99;
    --nc-error: #ee2c4a;
    --nc-error-bg: #fff4f4;
    --nc-caution: #f69113;
    --nc-caution-bg: #fff8e4;
    --nc-success: #30b566;
    --nc-success-bg: #f7fffe;
}

.edit-profile {
    width: 80%;
    background-color: var(--bs-gray-100);
    padding: 20px;
    margin-left: 20px;
    border-radius: 20px;
    position: relative;

    .previous-button {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
}

.view-history-menu {
    width: 80%;
    background-color: var(--bs-gray-100);
    padding: 20px;
    margin-left: 20px;
    border-radius: 20px;
    position: relative;

    .page-order-view {
        position: absolute;
        right: 20px;
        bottom: 0;
    }

    .previous-button {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    .success-status {
        width: 110px;
        height: 30px;
        padding: 5px;
        background: linear-gradient(195deg, #198754 0%, #30b566 100%);
        /* border: 1px solid var(--bs-gray-100); */
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        cursor: pointer;
        font-size: 14px;
    }

    .wait-status {
        width: 110px;
        height: 30px;
        padding: 5px;
        background: linear-gradient(195deg, #eda500 0%, #ffd556 100%);
        /* border: 1px solid var(--bs-gray-100); */
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 7px;
        font-size: 14px;
        cursor: pointer;
    }

    .cancel-status {
        width: 110px;
        height: 30px;
        padding: 5px;
        background: linear-gradient(195deg, #ee2c4a 0%, #dc3545 100%);
        /* border: 1px solid var(--bs-gray-100); */
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        cursor: pointer;
        font-size: 14px;
    }

    .ship-status {
        width: 120px;
        height: 30px;
        padding: 5px;
        background: var(--nc-primary-gradient);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        cursor: pointer;
        font-size: 14px;
    }

    .btn-view {
        background: linear-gradient(195deg, #0d6efd 0%, #0046ab 100%);
        color: #FFF;
        outline: none;
        border: none;
        transition: .1s;
    }
    .btn-view:hover {
        color: #fff;
        background: linear-gradient(195deg, #0d6efd 0%, #0046ab 100%); 
        opacity: .8;
        outline: none;
        border: none;
    }
}