@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #ee4d2d;
    --bs-yellow: #ffc107;
    --bs-green: #00c300;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #f05da6;
    --bs-highlight-bg: #fff3cd;
    --nc-primary: #ee4d2d;
    --nc-primary-bg: #fef6f5;
    --nc-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
    --nc-secondary-blue: #0046ab;
    --nc-secondary-yellow: #eda500;
    --nc-secondary-green: #26aa99;
    --nc-error: #ee2c4a;
    --nc-error-bg: #fff4f4;
    --nc-caution: #f69113;
    --nc-caution-bg: #fff8e4;
    --nc-success: #30b566;
    --nc-success-bg: #d9fddb;
}




.card-head {
    display: flex;
    position: relative;
    height: 70px;

    .card-icons {
        width: 70px;
        height: 100%;
        background: var(--bs-gray-700);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        & i.bx.bx-menu {
            font-size: 50px;
            /* ปรับขนาดตามที่ต้องการ */
        }
    }

    .card-details {
        width: 100%;
        border-bottom: 5px solid var(--bs-gray-700);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 0 30px;
        background: var(--bs-gray-200);
    }

}

.card-head-2 {
    display: flex;
    position: relative;
    height: 70px;

    .card-icons-2 {
        width: 70px;
        height: 100%;
        background: var(--bs-gray-700);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;


        & i {
            font-size: 50px;
            /* ปรับขนาดตามที่ต้องการ */
        }
    }

    .card-details-2 {
        width: 100%;
        border-bottom: 5px solid var(--bs-gray-700);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 0 30px;
        background: var(--bs-gray-200);
    }

}

.card-body-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--bs-gray-100);
}

.card-body-details>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    width: 30%;
    margin-bottom: 10px;

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 60px;
        padding: 5px;
        color: var(--bs-gray-800);
    }

    & i:hover {
        color: var(--bs-gray-600);
    }

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: var(--bs-gray-800);
    }

    & a:hover {
        color: var(--bs-gray-600);
        transition: .2s;
    }
}

.dashboard-1 {
    background: linear-gradient(195deg, #71cdf5 0%, #0d6efd 100%);

    & a {
        text-decoration: none;
        color: white;
        font-size: 13px;

        & i {
            color: #fff;
            background: rgba(255, 255, 255, 0.3);
            padding: 7px;
            border-radius: 20%;
            font-size: 20px;
        }
    }
    & a:hover {
        color: #fff;
        opacity: .8;
    }
}

.dashboard-2 {
    background: linear-gradient(195deg, #20c997 0%, #198754 100%);

    & a {
        text-decoration: none;
        color: white;
        font-size: 13px;

        & i {
            color: #fff;
            background: rgba(255, 255, 255, 0.3);
            padding: 7px;
            border-radius: 20%;
            font-size: 20px;
        }
    }
    & a:hover {
        color: #fff;
        opacity: .8;
    }
}

.dashboard-3 {
    background: linear-gradient(195deg, #ffc107 0%, #f69113 100%);

    & a {
        text-decoration: none;
        color: white;
        font-size: 13px;

        & i {
            color: #fff;
            background: rgba(255, 255, 255, 0.3);
            padding: 7px;
            border-radius: 20%;
            font-size: 20px;
        }
    }
    & a:hover {
        color: #fff;
        opacity: .8;
    }
}

.dashboard-4 {
    background: linear-gradient(195deg, #ee4d2d 0%, #dc3545 100%);

    & a {
        text-decoration: none;
        color: white;
        font-size: 13px;

        & i {
            color: #fff;
            background: rgba(255, 255, 255, 0.3);
            padding: 7px;
            border-radius: 20%;
            font-size: 20px;
        }
    }
    
    & a:hover {
        color: #fff;
        opacity: .8;
    }
}
